---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: en }}" class="wrapper-2">
<head>
    <meta charset="UTF-8">
    <title>{{ page.title }}</title>
</head>
{% include header.html %}
<body>
<!-- Shared/Common Styles -->
<div class="container">
    <header class="header row justify-content-center">
        <div class="col-lg-8">
            <!-- Site Navigation -->
            {% include navbar.html %}
        </div>
    </header>

    <main class="body row justify-content-center flex-grow-1">
        <div class="col-lg-8">
            <!-- Page Content -->
            {{ content }}
        </div>
    </main>

    <footer class="footer row justify-content-center">
        <div class="col-lg-8">
            <!-- Footer content -->
            {% include footer.html %}
        </div>
    </footer>
</div>

<!-- Shared/Common Scripts -->
{% include scripts.html %}
</body>
</html>
