---
layout: default
---

<body class="notransition">

<div class="wrapper">
    <header class="header">
        {% if page.tags and page.tags != empty %}
        <div class="tags">
            {% assign tags = page.tags %}
            <span itemprop="keywords">
              {% for tag in tags %}
              <a class="tag"
                 href="/tags/#{{tag | downcase | slugify}}">{{tag | upcase }}</a>{% unless forloop.last %},{% endunless %}
              {% endfor %}
            </span>
        </div>
        {% endif %}
        <h1 class="header-title text-left display-12" itemprop="headline">{{ page.title | escape }}.</h1>
    </header>

    <div class="header-subtitle">
        <div class="row">
            <div class="col text-right">
                <span itemprop="author" itemscope itemtype="https://schema.org/Person">
                    <span itemprop="name">{{ site.author.name }}</span>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="col text-right">
                <span itemprop="publishDate" datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">
                    {{ page.date | date: "%b %d, %Y" }}
                </span>
            </div>
        </div>
    </div>

    <main class="flex-grow-1 page-content" aria-label="Content">
        {{ content }}
    </main>
</div>

</body>

