.wrapper.page {

  margin-inline: 15px;
  .header {
    .header-title {
      text-align: center; // centers the title text
      margin-top: 7rem;
      margin-bottom: 7rem;

      @media (max-width: 768px) { // adjust this value according to your needs
        margin-top: 3rem; // smaller margin for small screens
        margin-bottom: 3rem;
      }
    }
  }

  .page-content {
    // Add styling rules for the page content here
  }
}
