// Spacing Preference
$homepage-author-bottom-buffer: 7.25rem;

// Fonts preferences
$sans-family: Roboto, sans-serif;
$mono-family: Consolas, monospace;
$base-font-size: 16px;
$medium-font-size: $base-font-size * 0.938;
$small-font-size: $base-font-size * 0.875;
$base-line-height: 1.85;

// Font weight
// $light-weight: 300; // uncomment if necessary
$normal-weight: 400;
$bold-weight: 700;
// $black-weight: 900; // uncomment if necessary

//Light Colors
$text-base-color: #434648;
$text-link-blue: #003fff;
$text-link-blue-active: #0036c7;

$black: #0d122b;
$light: #ececec;
$smoke: #d2c7c7;
$gray: #6b7886;
$white: #fff;

// Dark Colors
$dark-text-base-color: #c7bebe;
$dark-text-link-blue: #84a5ff;
$dark-text-link-blue-active: #2934ff;

$dark-black: #131418;
$dark-white: #eaeaea;
$dark-light: #1b1d25;
$dark-smoke: #4a4d56;
$light-blue: #0088ff;
$orange: #c58209;
$grey-blue: #3e4a70;
$red-title: #b7002b;
$dark-gray: #565656;

// Width of the content area
$wide-size: 890px; // this only impacts nav bar
$narrow-size: 720px;

// Padding unit
$spacing-full: 30px;
$spacing-half: 250;

// State of devices
$on-mobile: 768px;
$on-tablet: 769px;
$on-desktop: 1024px;
$on-widescreen: 1152px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

.blurry {
  overflow: hidden;
}

// Import sass files
@import "sosleek/fonts", "sosleek/base", "sosleek/layout", "sosleek/post",
"sosleek/miscellaneous", "sosleek/syntax", "sosleek/theme";
