body {
  color: $dark-text-base-color;
  background-color: $dark-black;


  // Heading
  h1 {
    color: $smoke;
  }
  h2 {
    color: $smoke;
  }
  h3 {
    color: $smoke;
  }
  h4 {
    color: $smoke;
  }
  h5 {
    color: $smoke;
  }
  h6 {
    color: $smoke;
  }

  /** for `code tags` **/
  code {
    color: #2881d3;
    // code highlight color
    &.highlighter-rouge {
      background-color: $dark-light;
    }
  }

  // Blockquote
  blockquote {
    color: $darker-white;
    border-color: $dark-light;
  }

  // Bold and Strong
  strong,
  b {
    color: $dark-white;
  }
}