

// Added below

// Content
.posts-item-note {
  font-size: $base-font-size;
  font-weight: 700;
  margin-bottom: 5px;
  color: $black;
}

// List of posts
.post-item {
  display: flex;
  padding-top: 5px;
  padding-bottom: 6px;
  //@extend %clearfix;

  &:not(:first-child) {
    border-top: 1px solid $light;
  }

  .post-item-date {
    min-width: 96px;
    color: $black;
    font-weight: 700;
    padding-right: 10px;

    @include media-query($on-mobile) {
      font-size: 16px;
    }
  }

  .post-item-title {
    margin: 0;
    border: 0;
    padding: 0;
    font-size: $base-font-size;
    font-weight: normal;
    letter-spacing: 0.1px;

    a {
      color: $text-base-color;

      &:hover,
      &focus {
        color: $black;
      }
    }
  }

  .post-item-note-type {
    margin: 0;
    border: 500px;
    padding: 0;
    font-size: $base-font-size;
    font-weight: normal;
    letter-spacing: 0.1px;

    a {
      color: $text-base-color;

      &:hover,
      &focus {
        color: $black;
      }
    }
  }
}


// Footer
.footer {
  margin-top: 8em;
  margin-bottom: 2em;
  text-align: center;


  span.footer_item {
    color: $black;
    opacity: 0.8;
    font-weight: $bold-weight;
    font-size: $small-font-size;
    text-decoration: none;
  }

  a.footer_item {
    color: $black;
    opacity: 0.8;
    text-decoration: none;
  }


}


.archive-tags {
  height: auto;
  .tag-item {
    padding: 1px 3px;
    border-radius: 2px;
    border: 1px solid rgba(128, 128, 128, 0.1);
    background-color: rgba(128, 128, 128, 0.1);
  }
}