.carousel-item {
  img {
    object-fit: cover; // This will cover the slide area, potentially cropping the image
    width: 400px; // This will make the image take the full width of the slide
    height: 100%; // This sets a fixed height for the images
  }
}

.carousel-control-prev,
.carousel-control-next {
  width: auto;
  height: auto;
  position: absolute;
  top: auto; // This will remove the default top positioning
  bottom: 10px; // This will position the controls at the bottom of the slide
  transform: none; // This will remove the default transform
}
