code {
  font-family: "Fira Code", monospace;
  text-rendering: optimizeLegibility;
  font-feature-settings: "calt" 1;
  font-variant-ligatures: normal;
  //white-space: pre;
  word-spacing: normal;
  word-break: normal;
  word-wrap: normal;
  font-size: 1em;
  line-height: 1.5em;
  border-radius: 2px;
  padding: 0.5em;
  color: #333;

  &.highlighter-rouge {
    padding: 1px 3px;
    position: relative;
    top: -1px;
    background-color: #f6f6f6;
    border-radius: 2px;
    border: 1px solid rgba(128,128,128,0.1);
  }
}
