$post-nav-item-color: #000; // Black color for post-nav-item
$post-title-color: #666; // Dark gray color for post-title

.post-navigation {
  .post-nav-item {
    color: $post-nav-item-color;
    font-weight: bold;

    .post-title {
      color: $post-title-color;
      // Add any additional styles for the title here
    }
  }

  .post-nav-prev {
    color: $dark-text-link-blue;
    font-family: Arial !important;
    opacity: 0.9;
    text-align: left;

    &:hover {
      color: $grey-blue;
    }
  }

  .post-nav-next {
    color: $dark-text-link-blue;
    font-family: Arial !important;
    opacity: 0.9;
    text-align: right;

    .post-title {
      text-align: right;
    }

    &:hover {
      color: $grey-blue;
    }
  }
}