<div class="container-fluid mt-5">
  <form id="contactMeForm">
      <!-- Alert on Success/Failure -->
    <div id="notification" class="alert mt-3" role="alert" style="display: none;"></div>
    <div class="form-group">
      <input type="text" class="form-control" id="name" name="user_name" placeholder="Name">
    </div>
    <div class="form-group">
      <input type="email" class="form-control" id="mail" name="user_email" placeholder="Email">
    </div>
    <div class="form-group">
      <textarea class="form-control" id="msg" name="user_message" placeholder="Message"></textarea>
    </div>
    <button type="button" class="btn btn-primary btn-block" id="contact_submit">Send your message</button>
  </form>
</div>

<!-- TODO - this isn't working with my self hosted jquery?? -->
<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>
  function submitContact(payload) {
    $.ajax({
      url : "{{ site.contact.api.url }}",
      type: "POST",
      dataType: "json",
      data: payload,
      success: function(data){
        console.log(data);
        $('#notification').addClass('alert-success').text('Message Sent!').show();
        clearForm();
      },
      error: function(){
        console.log("Error in the request");
        $('#notification').addClass('alert-danger').text('Something went wrong :(').show();
      }
    });
  }

  function clearForm() {
    $('#name').val('');
    $('#mail').val('');
    $('#msg').val('');
  }


  function buildPayload() {
    var contactMePayload = {
      contact_name : $('#name').val(),
      contact_email : $('#mail').val(),
      contact_message : $('#msg').val()
    };

    return JSON.stringify(contactMePayload);
  }

  $('#contact_submit').click(function() {
    var payload = buildPayload();
    console.log(payload);
    submitContact(payload);
  });
</script>
